.gradient-background{
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-1>.photo>img{
    height: 400px;
    width: 500px;
    margin: 50px;
}
.container-1>.name>p{
    margin-left:200px;
    margin-top: 150px;
    font-size: 100px;
    font-weight: bold;
    font-family: serif;
}
.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blueviolet;
}
.container-2>.about>p,h2{
    text-align: center;
    font-size: 22px;
    text-align: justify;
    font-family: sans-serif;
    margin-left: 50px;

}
.container-2>.about-me{
    margin-top: 40px;
    margin-left: 100px;
}
.container-2>.about-me>img{
    width: 100%;
    height: 80%;
}
.container-2>.about>h2{
    font-size: 40px;
}
.container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container-3>div>img{
    width: 300px;
    height: 300px;
}
.container-3>.fri{
    margin-top: 110px;
    margin-left: 60px;
    
}
.container-3>.hoobi{
    margin-top: 50px;
}
.container-3>.hoobi>img,.ho{
    margin-left: 50px;
}
.container-3>.hoobi>h2{
    font-size: 40px;
    font-family: sans-serif;
}
.container-5{
    background-color: bisque;
}
.container-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}
.container-4>.abc{
   margin-top: 60px;
   margin-left: 60px;
}
.container-4 h2{
    font-size: 40px;
    
}
.container-4 .mot{
    margin-left: 55px;
}
.contact-me{
    margin-top: 50px;
    text-align: center;
    
}
.contact-me>h2{
    font-size: 40px;
}
.contact-me>.btn{

    background-color: greenyellow;
}



@media (max-width:676px) {
    .container-1{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .container-1>.photo>img{
        width: 80%;
        height: 300px;
    }
    
    .container-1>.name>p{
        
        text-align: center;
        margin: 0;

    }
    .container-2{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .container-2>.about{
        width: 100%;
        height: 80%;
    }
    
}


